doctype html
html.h-100(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' type='image/x-icon' href='favicon.ico')

    title

    link(rel='stylesheet' href='./styles/app.css')

  body.p-md-4.h-100
    div.container-xxl.overflow-hidden.rounded-4
      div.row.h-100
        div.left-side.col-xxl-4.col-sm-12.col-md-4.p-0.h-100
          include ../includes/header.pug
          div.contacts.px-4.pt-5
            include ../includes/contacts.pug
        div.col-8
