header.d-flex.align-items-center.border-bottom
    +avatar("images/avatar_4.jpg")
    .py-4
        p.text-dark.fw-bold.m-0 Вениамин Редакторович
        p.text-muted.small.mb-0 Онлайн
.d-flex.flex-column