header.bg-primary.p-3.d-flex.justify-content-between
    a.logo(href="index.html")
        img.hexlet-logo(src="images/icons/logo.svg", alt="hexlet-logo")
    .nav.justify-content-end.flex-nowrap(role="tablist")
        a.nav-link.active(href="#contacts" id="contacts-tab" data-bs-toggle="tab" type="button" data-bs-target="#contacts" aria-controls="contacts" role="tab" aria-selected="true")
            img.tab-logo.me-2(src="images/icons/people.svg" alt="logo" width="25" height="25")
            span.small.text-light Контакты
        a.nav-link(href="#chats" id="chats-tab" data-bs-toggle="tab" type="button" data-bs-target="#chats" aria-controls="chats" role="tab" aria-selected="false")
            img.tab-logo.me-2(src="images/icons/chat.svg" alt="logo" width="25" height="25")
            span.small.text-light Сообщения
        a.nav-link.align-items-center(href="#profile" id="profile-tab" type="button" data-bs-toggle="tab" data-bs-target="#profile" aria-controls="profile" role="tab" aria-selected="false")
            img.tab-logo.me-2(src="images/icons/person.svg" alt="logo" width="25" height="25")
            span.small.text-light Профиль